<div id="login-modal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
					    <%= form_tag(login_path, id: "login_form") do %>
			            <label for="email">Email</label>
                    <br>
			               <%= text_field_tag :email, nil, required: true, class: "form-control" %>

			            <label for="password">Password</label>
                      <br>
			                <%= password_field_tag :password, nil, required: true, class: "form-control" %>
                      <br>
			                <%= submit_tag "Log In!", class: "btn btn-primary" %>
					    <% end %>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
