<h1>Your Results</h1>
<% @results.each do |result| %>
  <div class="table-container">
		<table class="table table-filter">
			<tbody>
				<tr>
					<td>
						<div class="media">
							<a href="#" class="pull-left">
                <img src='www.google.com' height='100px'>
							</a>
							<div class="media-body">
								<h4 class="title">
								<%= link_to result.workout.title, result_path(params[:id], result) %>
								</h4>
                <span class="pull-right"><%= link_to 'Log Another Workout', workouts_path, class: 'btn-sm btn-info'%></span>
								<p class="summary">
                  <%= result.created_at.strftime("%m-%d-%Y") %> at <%= result.created_at.strftime("%H:%M") %>
                  <br><br>
                </p>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<% end %>
