<h1>About Swolemates</h1>
<div class="col-md-12 services pull-right">
<div class="col-md-4">
    <figure class="snip1174 navy">
      <img src="https://avatars2.githubusercontent.com/u/10284294?v=3&s=400" alt="sq-sample33" />
      <figcaption>
        <h2>Bill Cheng</h2>
        <p><b>Food/Diet:</b> Chocolate chip cookies</p>
        <p><b>Favorite Workout:</b> Running</p>
        <a href="https://github.com/billcheng-ucla">GitHub: billcheng-ucla</a>
      </figcaption>
    </figure>
</div>
<div class="col-md-4">
    <figure class="snip1174 navy col-md-4">
      <img src="http://i.imgur.com/wNYc41B.jpg" alt="sq-sample33" />
      <figcaption>
        <h2>Natalia Hess</h2>
        <p><b>Food/Diet:</b> Plant-based</p>
        <p><b>Favorite Workout:</b> Healthy blend of lifting and cardio</p>
        <a href="https://github.com/nathess91">GitHub: nathess91</a>
      </figcaption>
    </figure>
</div>
<div class="col-md-4">
    <figure class="snip1174 navy col-md-4">
      <img src="http://sfinternationalchess.org/2012/teddy_coleman.jpg" alt="sq-sample33" />
      <figcaption>
        <h2>Teddy Coleman</h2>
        <p><b>Food/Diet:</b> Fried chicken</p>
        <p><b>Favorite Workout:</b> Chess Boxing</p>
        <a href="https://github.com/teddycoleman">GitHub: teddycoleman</a>
      </figcaption>
    </figure>
</div>
<div class="col-md-4">
    <figure class="snip1174 navy col-md-4">
      <img src="http://bbk12e1-cdn.myschoolcdn.com/ftpimages/125/news/zoom_news725461_588922.png" alt="sq-sample33" />
      <figcaption>
        <h2>Toby Zitsman</h2>
        <p><b>Food/Diet:</b> Carbivore</p>
        <p><b>Favorite Workout:</b> Long run (without Golden Retriever)</p>
        <a href="https://github.com/tzits">GitHub: tzits</a>
      </figcaption>
    </figure>
</div>
<div class="col-md-8">
  <h4 id="about-description">There is ab-solutely no need for another fitness app. Well, a fitness app that tracks your progress. Swolemates&trade; is here to mix it up.
    What is the point of track-ing your progress if you can't use that data to compete against your friends...or potential Swolemate?
    Everyone loves to brag, but only a real swoledier can back it up. Use Swolemates&trade; to show your bros what you're really made of--and remember, always practice safe sets.
  </h4>
  <span class="love-us">
  <h3>
    Weights and protein shakes,
  </h3>
  <h1>Swolemates&trade;</h1>
</span>
</div>
</div>
