// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fluid-container {
	background-image: url('http://www.omaa.org.uk/sites/default/files/Boxing-008.jpg');
	background-repeat: none;
}

.challenge_photo {
	height: 200px;
}

.challenge-header, .challenge-tagline {

}

.align-center{
	text-align: center;
}
#title {
	font-size: 75px;
	color: white;
}
.small-container {
	width: 550px !important;
}
.vs {
	font-size: 40px;
	position: absolute;
	top: 8vh;
	color: white;
}
#heading {
	font-size: 75px;
	padding-left: 6vw;
	color: white;
}
.glyphicon-time {
	color: white;
	font-size: 30px;
	align: center;
	padding-left: 8vw;
}
.data {
	background-color: rgba(0,0,0,.3);
	border-radius: 10px;
}
.result {
	font-size: 40px;
	color: white;
	padding-left: 8vw;
}

.challengep {
	text-align: center;
	font-size: 30px !important;
	color: white;
}

@media (max-width: 700px) {
	.result {
		padding-left: 30vw;
	}
	.glyphicon {
		padding-left: 28vw;
	}
	.vs {
		position: relative;
		top: 0;
		display: block;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;
		color: black;
	}
	img {
		width: 150px;
		height: 150px;
	}
	#heading {
		font-size: 40px;
		display: block;
		text-align: center;
	}
	#title {
		font-size: 40px;
		display: block;
		text-align: center;
	}
	.btn {
		width: 350px;
		height: 55px;
		border-radius: 10px;
		font-size: 25px !important;
		vertical-align: center;
	}
	.fluid-container {
		background-image: none;
	}
	#title, #heading, .result, .challengep {
		color: black;
	}
	.glyphicon {
		color: #217FFF;
	}
	.data {
		background-color: white;
	}
}
img {
	vertical-align: middle;
	width: 300px;
	height: 300px;
}

#opponent
{
	float: right;
}



.loser
{
	background-color: red;
}

.winner
{
	background-color: lime;
}
