// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.challenge_photo {
	height: 200px;
}

.challenge-header, .challenge-tagline {
	text-align: center;
	font-family: 'Permanent Marker', cursive;
}

.align-center{
	text-align: center;
}

.small-container {
	width: 550px !important;
}

p
{
	text-align: center;
}

img
{
	vertical-align: middle;
	width: 300px;
	height: 300px;
}

#opponent
{
	float: right;
}


.loser
{
	background-color: red;
}

.winner
{
	background-color: lime;
}

