// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.challenge_photo {
	height: 200px;
}

.challenge-header, .challenge-tagline {

}

.align-center{
	text-align: center;
}

.small-container {
	width: 550px !important;
}
.vs {
	font-size: 40px;
	position: absolute;
	top: 13vh;
}
#heading {
	font-size: 80px;
	padding-left: 6vw;
}
.glyphicon {
	color:#337ab7;
	font-size: 30px;
	align: center;
	padding-left: 8vw;
}

.result {
	font-size: 40px;
	color: green;
	padding-left: 8vw;
}

.challengep {
	text-align: center;
	font-size: 30px !important;
}

img {
	vertical-align: middle;
	width: 300px;
	height: 300px;
}

#opponent
{
	float: right;
}



.loser
{
	background-color: red;
}

.winner
{
	background-color: lime;
}
