// Place all the styles related to the Results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#result-number {
  font-size: 80px;
}

#result-well {
  text-align: center;
}

#new-challenge {
  margin-left: 20px;
}

.glyphicon-flash {
  margin-left: 20px;
}

.glyphicon-ice-lolly-tasted {
  margin-left: 20px;
}

@media screen and (max-width: 1000px) {
  .data {
    display: block;
    font-size: 1.4em;
    text-align: center;
  }
  #result-well {
    width: 100%;
    font-size: 3.5em;
    height: 83vh;
    position: relative;
  }
  #result-number {
    font-size: 6em;
  }
  .btn {
    width: 20em;
    font-size: .6em !important;
    margin: 0;
  }
  .result-buttons {
    top: 80vh;
    left: 50vw;
  }
  #new-challenge {
    margin-left: -13px!important;
  }
}
@media screen and (min-width: 1000px) {
  .result-buttons {
    width: inherit;
    height: inherit;
  }
}
