// Place all the styles related to the Results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#result-number {
  font-size: 80px;
}

#result-well {
  text-align: center;
}

#new-challenge {
  margin-left: 20px;
}

.glyphicon-flash {
  margin-left: 20px;
}

.glyphicon-ice-lolly-tasted {
  margin-left: 20px;
}
