// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login_form {
  position: absolute;
  left: 12vw;
}
.wrapper {
  position: relative
}
@media screen and (min-width: 48em) {
  .wrapper:before {
    content: '';
    float: right;
    display: block;
    width: 300px;
    height: 150px;
    margin: 0 0 15px 15px
  }
  #login_form {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    width: 300px !important;
  }

}
